.header {
    position: fixed;
    top: 0;
    flex-direction: row;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    width: 98%;
    background-color: #ffffff;
    z-index: 3;
}
.footer {
    position: fixed;
    bottom: 0;
    border-top-width: 1px;
    border-top-style: solid;
    width: 98%;
    background-color: #ffffff;
    z-index: 3;
}
.mainContainer {
    display: flex;
    overflow: hidden;
    height: 100vh;
}
.cardsContainer {
    flex: 1;
    height: 100vh;
    margin-top: 2%;
    overflow: scroll;
    position: relative;
    z-index: 1;
}
.cardsList {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0.5%;
    padding-right: 0.5%;
    padding-bottom: 10%
}
.instructionsContainer {
    width: 275px;
    text-align: center;
    border-left-width: 1px;
    border-left-style: solid;
    background-color: #ffffff;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 5%;
    overflow: scroll;
    height: 100vh;
    flex-direction: column;
    position: relative;
    z-index: 5;
}
